@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
body{
    font-family: 'Oswald', sans-serif;
        margin: 0;
        padding: 0;
        background: url(Imagenes/Fondo\ marrón.jpg);   
        background-size: cover;
        background-position: center;
}
header{
    background-color: rgba(201, 120, 15, 0.534);
    height: fit-content;
}
section{
    background-color: rgba(72, 255, 0, 0.164);
}
h1{
    color: #607907d8;
}
h3{
    color: rgba(23, 168, 23, 0.788);
}
footer{
    background-color: rgba(182, 155, 4, 0.473);
}
h2{
    color: #248835c9;
}
.pSubtitle{
    margin: 1em;
    text-align: justify;
}
.lista{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
    background-color: #02ff2c65;
}
.link{
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #0a690aa9;
}
.lista2{
text-decoration: none;
list-style: none;
}
.datos{
    font-size: 17px;
    text-decoration: none;
    list-style: none;
    margin-left: 1em;
    margin-right: 1em;
    
}
